<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App Uses Location Services to allow background operations while performing long running tasks, this insures data integrity on our side, and offers a better user experience</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App Uses Location Services to allow background operations while performing long running tasks, this insures data integrity on our side, and offers a better user experience</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Please Share Motion data for Study Purposes</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Please Share Motion data for Study Purposes</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>location</string>
	</array>
	<key>WKBackgroundModes</key>
	<array>
		<string>physical-therapy</string>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
