<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="research.mealwatcher">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH"/>
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Required for Nearby Connections -->
    <uses-permission android:maxSdkVersion="31" android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:maxSdkVersion="31" android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH" />
    <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:maxSdkVersion="28" android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:minSdkVersion="31" android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:minSdkVersion="31" android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:minSdkVersion="31" android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:minSdkVersion="32" android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="com.google.android.permission.BIND_NETWORK_TASK_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        android:usesPermissionFlags="neverForLocation" />

    <!-- Needed only if your app looks for Bluetooth devices.
             If your app doesn't use Bluetooth scan results to derive physical
             location information, you can strongly assert that your app
             doesn't derive physical location. -->
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-feature android:name="android.hardware.camera2.full" android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- Optional: only required for FILE payloads -->
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EatMon2">
        <!--        android:excludeFromRecents="true"-->
        <activity
            android:name="research.mealwatcher.MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="research.mealwatcher.Survey"
            android:exported = "true" />

        <!--In Android SDK 34, implicit intents are only delivered to exported components.
        Apps must either use an explicit intent to deliver to unexported components, or mark the component as exported.
        If we use implicit intent to a non-exported componenets, it will throw exception. So I make this service exported -->

        <service
            android:name="research.mealwatcher.ControlWatch"
            android:exported="true"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="research.mealwatcher.ACTION_DATA_TRANSFER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <!--        The dataSync foreground service type can include transferring data locally or over a network, and may include processing data locally on device.-->
        <service android:name=".ControlRing" android:exported="false"
            android:foregroundServiceType="health">
            <intent-filter>
                <action android:name="research.mealwatcher.ACTION_DATA_TRANSFER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>


</manifest>